# GlobalTrotters root env
# Copy to .env for local dev

# Postgres
POSTGRES_USER=gt_user
POSTGRES_PASSWORD=gt_password
POSTGRES_DB=gt_db
POSTGRES_PORT=5432
POSTGRES_HOST=db

# pgAdmin
PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=admin123
PGADMIN_PORT=8080

# Django (used later by backend)
DJANGO_SECRET_KEY=please_change_me
DJANGO_DEBUG=1
DJANGO_ALLOWED_HOSTS=*
DJANGO_CORS_ALLOWED_ORIGINS=http://localhost:3000
DJANGO_DB_HOST=db
DJANGO_DB_NAME=gt_db
DJANGO_DB_USER=gt_user
DJANGO_DB_PASSWORD=gt_password
DJANGO_DB_PORT=5432
